<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://kit.fontawesome.com/a6a64cd26e.js" crossorigin="anonymous"></script>
    <title>Nuestro equipo</title>
</head>
<body>
    <div class="container">
    <div class="div1">
        <li class="div-li"><i class="fa-solid fa-computer"></i></li>
        <h2 class="title">Nuestro equipo</h2>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed atque, iste consequatur, tenetur dolorem iure provident est facere necessitatibus in aliquam sapiente dicta molestiae blanditiis! Repellat excepturi adipisci quae quibusdam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci voluptas culpa distinctio quisquam, cupiditate mollitia, non, cum nulla dignissimos id quidem repellendus ducimus in voluptates asperiores ut commodi ab dolores?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        </p>

        <button class="button">APRENDE MÁS</button>

        <p class="parrafo">Detalles de <a href="#">Nuestro equipo</a></p>
    </div>
    <div class="div2"><img src="https://img.freepik.com/foto-gratis/feliz-optimista-guapo-gerente-ventas-latina-apuntando-lado-mirando-camara_1262-12679.jpg?w=2000">
    <p class="parrafo2">Sprint Master</p>
    <h3 class="title2">Bob Marbin</h3>
    <p class="parrafo3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione similique deleniti, quasi voluptates velit</p>
    <li class="li"><i class="fa-brands fa-square-facebook"></i></li>
    <li class="li"><i class="fa-brands fa-square-twitter"></i></li>
    <li class="li"><i class="fa-brands fa-square-instagram"></i></li></div>
    <div class="div3"><img src="https://thumbs.dreamstime.com/b/mujer-feliz-saludando-sobre-fondo-blanco-en-218409584.jpg">
    <p class="parrafo2">Desarrolladora web</p>
    <h3 class="title2">María Smith</h3>
    <p class="parrafo3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti excepturi eligendi aperiam earum at mollitia</p>
    <li class="li"><i class="fa-brands fa-square-facebook"></i></li>
    <li class="li"><i class="fa-brands fa-square-twitter"></i></li>
    <li class="li"><i class="fa-brands fa-square-instagram"></i></li></div>
    <div class="div4"><img src="https://st3.depositphotos.com/3776273/31936/i/600/depositphotos_319362956-stock-photo-man-pointing-showing-copy-space.jpg">
    <p class="parrafo2">Programador Junior</p>
    <h3 class="title2">Nick Oscuno</h3>
    <p class="parrafo3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam eveniet illum incidunt placeat quisquam</p>
    <li class="li"><i class="fa-brands fa-square-facebook"></i></li>
    <li class="li"><i class="fa-brands fa-square-twitter"></i></li>
    <li class="li"><i class="fa-brands fa-square-instagram"></i></li></div>
    <div class="div5"><img src="https://www.pngkit.com/png/detail/888-8880443_pensando-especialmente-en-las-personas-con-movilidad-imagenes.png">
    <p class="parrafo2">Programador Junior</p>
    <h3 class="title2">March Dowson</h3>
    <p class="parrafo3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem impedit distinctio, quo ex architecto saepe est</p>
    <li class="li"><i class="fa-brands fa-square-facebook"></i></li>
    <li class="li"><i class="fa-brands fa-square-twitter"></i></li>
    <li class="li"><i class="fa-brands fa-square-instagram"></i></li></div>
    </div>
    
</body>
</html>