.div{
    background: gray;
    border: 5px solid blue;
    margin: auto;
    margin-top: 60px;
    width: 50%;
    padding: 20px;

}

.div img{
    float: right;
    width: 270px;
    height: 270px;
    margin-left: 15px;
    margin-bottom: 5px;
    
}